@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    transition: all ease 0.5s;
}

body {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background: linear-gradient(135deg, #141E30, #35577D);
    background-size: cover;
    color: white;
}

.round {
    background-color: #141E30;
    color: #96CFF5;
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.2);
    border: 1px solid #39517e;
    box-shadow: 1px 1px 10px #0b111b6b, -1px -1px 10px -2px #ffffff4f;
}

.blue-sml-txt {
    font-size: 13px;
    color: #96CFF5;
}

.blue-med-txt {
    font-size: 15px;
    color: #96CFF5;
}

.container-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px;
    max-width: 70%;
    margin: auto;
}

.btn {
    cursor: pointer;
}

.search-bar {
    display: flex;
    gap: 20px;

}

.btn:hover {
    background-color: #96CFF5;
    color: #141E30;
}

.city-input::placeholder {
    color: #96CFF5;
}

.city-input:active {
    border: 1px solid #96CFF593;
}

.location-temp-box {
    gap: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.location,
.date,
.time {
    display: flex;
    gap: 5px;
    align-items: center;
}

.location-icon {
    width: 20px;
}

.city-name {
    font-size: 30px;
    font-weight: 300;
    line-height: 1em;
}

.date-time {
    width: 100%;
    display: flex;
    gap: 15px;
    justify-content: space-around;
    color: #96CFF5;
    font-size: 15px;
    font-weight: 300;
}

.temp-weather-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.temp-box .temp {
    font-size: 80px;
    font-weight: 500;
    line-height: 1em;
    color: white;

}

.weather-box {
    display: flex;
    flex-direction: column;
}

.weather-icon {
    width: 70px;
}

.weather-box .condition {
    margin-top: 10px;
    font-size: 40px;
    font-weight: 500;
    line-height: 1em;
}

.weather-box .condition {
    color: white;
}

.temp-info {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    align-items: center;

}

.info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    align-items: center;
    background-color: #141e30af;
    border-radius: 20px;
    border: 1px solid #3a568b;
    box-shadow: 5px 5px 10px #141e306b, -2px -2px 10px #ffffff13;
    padding: 10px 20px;
    min-height: 150px;
    min-width: 130px;
}

.info-box img {
    width: 100px;
}

.wind-icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wind-icon :first-child {
    position: absolute;
    transition: all ease 1s;
    width: 30px;
}

.wind-icon :nth-child(2) {
    width: 100px;
}

.info-value {
    font-size: 18px;
    line-height: 1em;
}

@media screen and (max-width:460px) {
    .container-column {
        padding: 20px;
        max-width: 100%;
        margin: auto;
        overflow: hidden;

    }

    .icon {
        width: 17px;
    }

    .city-name {
        font-size: 20px;
        line-height: 1.25em;
    }

    .date-time {
        flex-direction: column;
        gap: 0px;
        font-size: 14px;
    }

    .weather-box .condition {
        font-size: 30px;
        font-weight: 300;
        line-height: 1.5em;
    }
}